@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,600i,700,700i,900');

@font-face {
    font-family: 'HarmoniaSansProCyr-SemiBd';
    src: local('HarmoniaSansProCyr-SemiBd'),
    url('https://nomail.com.ua/files/woff/a9e1fc9e2a3f912d25d5e58a47c05318.woff') format('woff');
}

@font-face {
    font-family: 'HarmoniaSansProCyr-Black';
    src: local('HarmoniaSansProCyr-Black'),
    url('https://nomail.com.ua/files/woff/163efa8fb24918115c3f594fdeced144.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
}

.wrap {
    display: flex;
    position: relative;
    align-items: center;
    flex-flow: row nowrap;
}

/*beginning header__________________________*/

/*header_link__connection wrap*/

.header_link {
    padding: 1.62vw 0;
    justify-content: space-between;
    font-family: 'HarmoniaSansProCyr-SemiBd';
    width: 76vw;
    margin: 0 auto;
    background-color: #fff;
}

.header_link:after {
    border-bottom: #ff5912 3px solid;
}

.header_link__connection {
    font-size: 0.78vw;
    font-weight: 400;
}

.email svg {
    width: 1.17vw;
    height: 0.71vw;
    fill: #ff5912;
    margin-right: 0.65vw;
}
.phone svg {
    width: 0.78vw;
    height: 0.78vw;
    fill: #ff5912;
    margin: 0 0.65vw 0 1.3vw;
}

/*header_link__social wrap*/
.social_icon {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

.social_icon a {
    margin-right: 1.36vw;
}

.social_icon svg {
    fill: #34404b;
    width: 0.9vw;
    height: 0.71vw;
}

.social_icon svg path {
    transition: all ease 0.5s;
}

.social_icon svg:hover path {
    transform: scale(0.9);
}

.border {
    border-bottom: 1px #e6e8eb solid;
}
/*header_base__logo*/

.header_base {
    width: 76vw;
    margin: 0 auto;
    background-color: #fff;
}

.header_base__name {
    padding: 2.72vw 0;
}

.header_base__name p {
    color: #46505a;
    font-family: 'HarmoniaSansProCyr-SemiBd';
    font-size: 0.71vw;
    letter-spacing: 0.3vw;
    position: relative;
    top: -0.9vw;
}

.header_base__logo h2 {
    color: #34404b;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.6vw;
    font-family: 'Titillium Web', sans-serif;
}

.header_base__logo img {
    width: 2.2vw;
    height: 1.1vw;
    margin: 0 0.65vw 0.3vw;
}

/*header_base__nav*/

.navigation {
    margin-left: 2.65vw;
}

.navigation li {
    list-style: none;
    margin-left: 2.6vw;
}

.navigation a {
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    color: #34404b;
    text-decoration: none;
    font-weight: 400;
    font-size: 1vw;
}

.navigation a:hover {
    color: #ff5912;
}

/*header_base__icons*/

.header_base__icons {
    margin-left: 21.5vw;
}

.icons li {
    list-style: none;
    margin-left: 2.08vw;
}

.icons svg {
    width: 1.3vw;
    height: 1.3vw;
    fill: #34404b;
}

.icons svg path {
    transition: all ease 0.3s;
}

.icons svg:hover path {
    fill: #ff5912;
    transition: all ease 0.3s;
}
/*ending header*/
/*beginning related-products__________________________*/

.related-products {
    width: 76vw;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 6.68vw;
}

/*related-products_clothes*/

.related-products_clothes {
    width: 31.16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -5.3vw;
}

.clothes_catalog {
    margin-top: 4.41vw;
}

.clothes_review img {
    width: 9.41vw;
    height: 17.85vw;

}

.thumb {
    width: 6.17vw;
    height: 4.48vw;
    background-color: #f4f6f8;
}

.thumb img {
    width: 2vw;
    height: 3vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumb:nth-child(2) {
    margin: 0 1.3vw;
}

.thumb:nth-child(3) {
    background-color: #ff5912;
}


/*related-products_info*/


.related-products_info__text h2 {
    color: #ff5912;
    font-size: 3.37vw;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'HarmoniaSansProCyr-Black';

}

.related-products_info__text h4 {
    color: #3c4751;
    font-size: 1.17vw;
    font-weight: 400;
    line-height: 2vw;
    padding: 1.68vw 0 2.5vw;
    font-family: 'HarmoniaSansProCyr-SemiBd';
}

.related-products_info__text p {
    width: 39.8vw;
    color: #495662;
    font-size: 1vw;
    font-weight: 400;
    line-height: 2vw;
    padding-bottom: 2.53vw;
    border-bottom: 1px #e6e8eb solid;
    font-family: 'HarmoniaSansProCyr-SemiBd';
}

/*related-products_info__selection*/

.related-products_info__selection {
    font-family: 'HarmoniaSansProCyr-SemiBd';
    justify-content: space-between;
    padding: 2.7vw 0;
    border-bottom: 1px #e6e8eb solid;
}

.size {
    border-right: 1px #e6e8eb solid;
    padding-right: 5vw;
}

.size-title {
    color: #34404b;
    font-size: 1.17vw;
    font-weight: 400;
    margin-right: 2vw;
}

.quantity-title {
    color: #34404b;
    font-size: 1.17vw;
    font-weight: 400;
    margin-right: 1.36vw;
}

#quantity {

    font-family: 'HarmoniaSansProCyr-SemiBd';
    font-size: 1.17vw;
    font-weight: 400;
    color: #ff5912;
    margin: 0 1.1vw;
}

.quantity button {
    color: #34404b;
    font-family: 'HarmoniaSansProCyr-SemiBd';
    font-size: 1.17vw;
    font-weight: 400;
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;

}

.size_link pre {

    color: #34404b;
    text-decoration: none;
    font-family: 'HarmoniaSansProCyr-SemiBd';
    font-size: 0.9vw;
    font-weight: 400;
    cursor: pointer;
}

.size_link pre:active {
    color: #f00;
    font-size: 1.17vw;
}


/*related-products_info__price*/
.related-products_info__price {
    justify-content: space-between;
    padding: 2.6vw 0 8vw;
}

.price {
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    color: #34404b;
    font-size: 1.3vw;
    font-weight: 400;
}

/*related-products_info__order*/

.related-products_info__order svg {
    fill: #34404b;
    width: 1.3vw;
    height: 1.3vw;
    margin-right: 1.62vw;
}

.related-products_info__order svg path {
    transition: all ease 0.5s;
}

.related-products_info__order svg:hover path {
    transform: scale(0.9);
}

.related-products_info__order ul>li {
    list-style: none;
}

.related-products_info__order button {
    border-radius: 1.62vw;
    background-color: #ff5912;
    color: #fff;
    padding: 1vw 1.49vw;
    font-size: 1.16vw;
    font-weight: 400;
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
}

