@font-family: 'Montserrat', sans-serif;
@font-family: 'Nunito Sans', sans-serif;

/* start header */
header {
  background: url(images/header-fon.jpg);
  background-size: cover;
  padding-bottom: 200px;

  & nav {
    padding-top: 38px;
    & img {
      color: #FF4500;
    }
  }

.header-logo:hover {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    cursor: pointer;
}
  & nav a {
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #FF4500;
    text-decoration: none;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  & nav a:hover {
    color: #FF4500;
    text-shadow: 0px 0px 0 rgb(208, 138, 28), 1px 1px 0 rgb(165, 123, 26), 2px 2px 0 rgb(242, 185, 100), 3px 3px 0 rgb(227, 167, 187), 4px 4px 0 rgb(182, 129, 63), 5px 5px 0 rgb(161, 117, 50), 6px 6px 0 rgb(144, 103, 39), 7px 7px 0 rgb(130, 91, 31), 8px 8px 0 rgb(120, 83, 25), 9px 9px 0 rgb(108, 73, 20), 10px 10px 0 rgb(93, 63, 13), 11px 11px 0 rgb(60, 54, 12), 12px 12px 0 rgb(63, 41, 8), 13px 13px 0
  }
}

  .header-all {
    & h1 {
      padding-top: 180px;
      color: #FF4500;
      font-family: 'Montserrat', sans-serif;
      font-size: 38px;
      font-weight: 500;
      line-height: 48px;
    }
    & p {
      color: #FF4500;
      font-family: "Nunito Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      padding: 32px 0 39px;
    }
    & .header-all__btn {
      background-color: #FF4500;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      color: #ffffff;
      width: 180px;
      height: 54px;
      border: none;
    }
    & .header-all__btn:hover {
      background-color: black;
      transition-duration: 1s;
      cursor: pointer;
    }
  }
/* finish header */
/* start about-us */
#particles-js {
  background-color: silver;
  height: 450px;
  width: 100%;
  & h2 {
    padding-top: 3%;
    left:50%;
    margin-left:-150px;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 60px;
    position: absolute;
    text-align: center;
  }
  & img {
    padding-top: 20%;
    left:50%;
    margin-left:-150px;
    position: absolute;
  }
  & p {
    padding-top: 10%;
    left:40%;
    margin-left:-150px;
    position: absolute;
    text-align: center;
  }
}
/* finish about-us */
/* start skills */
.skills {
  background-color: #f8f9f9;
  & .professional-skills {
    & h2 {
      color: #171717;
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 500;
      line-height: 84px;
    }
    & p {
      color: #000000;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      position: relative;
      bottom: -25px;
    }
    & progress {
      width: 336px;
      height: 10px;
    }
  }
}
/* finish skills */
/* start work */
.work {
  background-color: #10c9c3;
  & .projects {
    padding: 102px 0;
    & p {
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;
    }
    & img {
      float: left;
      width: 40px;
      height: 36px;
      margin-right: 28px;
    }
  }
}
/* finish work */
/* start load */
.load {
  & .load-work {
    width: 100%;
   & img {
   width: 100%;
   }
  }
}
/* finish load */
/* start Process */
.Process {
  text-align: center;
  padding-bottom: 100px;
  & h2 {
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 60px;
    padding-top: 100px;
    padding-bottom: 41px;
  }
  & p {
    color: #787878;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
/* finish Process */
/* start skills */
.skills {
  padding-top: 102px;
  padding-bottom: 100px;
  background-color: #f5f5f5;
  text-align: center;
  & p {
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 29px;
  }
}
/* finish skills */
/* start carousel */

.carousel {
  background-color: #10c9c3;
  text-align: center;
  & h3 {
    padding-top: 170px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 36px;
    font-size: 30px;
  }
  & p {
    padding: 30px 0 178px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
  }
}
/* finish carousel */
/* start sponsors */
.sponsors {
  background-color: #ffffff;
  display: flex;
  text-align: center;
  & img {
    padding: 65px 5%;
  }
}
/* finish sponsors */
/* start need */
.need {
  text-align: center;
  background-color: #f5f5f5;
  padding: 100px 0;
  & h2 {
    color: #1d1d1d;
    ffont-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 84px;
  }
  & p {
    color: #787878;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  & .input-group-Name {
    height: 48px;
    background-color: #ffffff;
    border: none;
    width: 30%;
    margin: 0 15px 30px;
  }
  & .input-group-Email {
    height: 48px;
    background-color: #ffffff;
    border: none;
    width: 30%;
    margin: 0 15px 30px;
  }
  & .input-group-title {
    height: 48px;
    background-color: #ffffff;
    border: none;
    width: 63%;
    margin: 0 15px 30px;
  }
  & .input-group-Message {
    background-color: #ffffff;
    border: none;
    width: 63%;
    height: 170px;
    margin: 0 15px 30px;
  }
}
.Top-slider__btn {
  background-color: #10c9c3;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  width: 180px;
  height: 54px;
  border: none;
}
& .Top-slider__btn:hover {
  background-color: black;
  transition-duration: 1s;
  cursor: pointer;
}
/* finish need */
/* start footer */
footer {
  background-color: #141414;
  padding: 100px 0;
  & h3 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 72px;
  }
  & p {
    color: #bcbcbc;
    font-family: "Nunito Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
}
/* finish footer */

@media (max-width: 992px) {
  header {
    text-align: center;

    & .header-all {
      & h1 {
        padding-top: 30px;
        text-align: center;

      }
    }
  }

  .work {
    & .projects {
      padding: 30px 0;
    }
  }

  .carousel {
    & h3 {
      padding: 30px 20px 0;
      font-size: 20px;
      line-height: 30px;
    }

    & p {
      padding: 30px 0;

    }
  }

  .sponsors {
    display: block;

    & img {
      padding: 20px;
    }
  }

  footer {
    text-align: center;
    padding: 30px 0;
  }

  #particles-js {
    background-color: silver;
    height: 500px;
    width: 100%;

    & h2 {
      padding-top: 3%;
      left:50%;
      margin-left:-150px;
    }

    & img {
      padding-top: 40%;
      left:50%;
      margin-left:-150px;
      position: absolute;
    }

    & p {
      padding-top: 20%;
      left:50%;
      margin-left:-150px;
      position: absolute;
      text-align: center;
    }
  }
}

@media (max-width: 650px) {
  #particles-js {
    height: 400px;
    width: 100%;

    & h2 {
      padding-top: 3%;
      left:50%;
      margin-left:-150px;
    }

    & img {
      padding-top: 50%;
      left:50%;
      margin-left:-150px;
      position: absolute;
    }

    & p {
      padding-top: 20%;
      left:50%;
      margin-left:-150px;
      position: absolute;
      text-align: center;
    }
  }
}




