/* start header */
header {
  background: url(images/header-fon.jpg);
  background-size: cover;
  padding-bottom: 200px;
}
header nav {
  padding-top: 38px;
}
header nav a {
  color: #FF4500;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}
header .header-all h1 {
  padding-top: 180px;
  color: #FF4500;
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
}
header .header-all p {
  color: #FF4500;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding: 32px 0 39px;
}
header .header-all .header-all__btn {
  background-color: #FF4500;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  width: 180px;
  height: 54px;
  border: none;
}
/* finish header */
/* start about-us */
.about-us {
  text-align: center;
}
.about-us h2 {
  padding: 100px 0 41px;
  color: #191919;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 60px;
}
.about-us img {
  padding: 37px 0 100px;
}
/* finish about-us */
/* start skills */
.skills {
  background-color: #f8f9f9;
}
.skills .professional-skills h2 {
  color: #171717;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 84px;
}
.skills .professional-skills p {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  bottom: -25px;
}
.skills .professional-skills progress {
  width: 336px;
  height: 10px;
}
/* finish skills */
/* start work */
.work {
  background-color: #10c9c3;
}
.work .projects {
  padding: 102px 0px;
}
.work .projects p {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
.work .projects img {
  float: left;
  width: 40px;
  height: 36px;
  margin-right: 28px;
}
/* finish work */
/* start load */
.load .load-work {
  width: 100%;
}
.load .load-work img {
  width: 100%;
}
/* finish load */
/* start Process */
.Process {
  text-align: center;
  padding-bottom: 100px;
}
.Process h2 {
  color: #191919;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 60px;
  padding-top: 100px;
  padding-bottom: 41px;
}
.Process p {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* finish Process */
/* start skills */
.skills {
  padding-top: 102px;
  padding-bottom: 100px;
  background-color: #f5f5f5;
  text-align: center;
}
.skills p {
  color: #191919;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 29px;
}
/* finish skills */
/* start carousel */
.carousel {
  background-color: #10c9c3;
  text-align: center;
}
.carousel h3 {
  padding-top: 170px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 36px;
  font-size: 30px;
}
.carousel p {
  padding: 30px 0 178px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}
/* finish carousel */
/* start sponsors */
.sponsors {
  background-color: #ffffff;
  display: flex;
  text-align: center;
}
.sponsors img {
  padding: 65px 5%;
}
/* finish sponsors */
/* start need */
.need {
  text-align: center;
  background-color: #f5f5f5;
  padding: 100px 0;
}
.need h2 {
  color: #1d1d1d;
  ffont-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 84px;
}
.need p {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.need .input-group-Name {
  height: 48px;
  background-color: #ffffff;
  border: none;
  width: 30%;
  margin: 0 15px 30px;
}
.need .input-group-Email {
  height: 48px;
  background-color: #ffffff;
  border: none;
  width: 30%;
  margin: 0 15px 30px;
}
.need .input-group-title {
  height: 48px;
  background-color: #ffffff;
  border: none;
  width: 63%;
  margin: 0 15px 30px;
}
.need .input-group-Message {
  background-color: #ffffff;
  border: none;
  width: 63%;
  height: 170px;
  margin: 0 15px 30px;
}
.Top-slider__btn {
  background-color: #10c9c3;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  width: 180px;
  height: 54px;
  border: none;
}
/* finish need */
/* start footer */
footer {
  background-color: #141414;
  padding: 100px 0;
}
footer h3 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 72px;
}
footer p {
  color: #bcbcbc;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
/* finish footer */
@media (max-width: 992px) {
  header {
    text-align: center;
  }
  header .header-all h1 {
    padding-top: 30px;
    text-align: center;
  }
  .work .projects {
    padding: 30px 0px;
  }
  .carousel h3 {
    padding: 30px 20px 0;
    font-size: 20px;
    line-height: 30px;
  }
  .carousel p {
    padding: 30px 0 ;
  }
  .sponsors {
    display: block;
  }
  .sponsors img {
    padding: 20px;
  }
  footer {
    text-align: center;
    padding: 30px 0;
  }
}
/*# sourceMappingURL=style.css.map */