@font-family: 'Montserrat', sans-serif;
@font-family: 'Nunito Sans', sans-serif;



header {
  background: url(images/header-fon.jpg);
  background-size: cover;
  & .nav {
    padding-top: 38px;
  }
  & nav a {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
  }
}
