@font-face {
  font-family: OutrunFuture;
  src: url('fonts/outrun-future/Outrun future.otf');
}
/* Start TOP */
.Top {
  background: url(images/Fon-top.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
  width: 100%;
}
.Top-menu {
  padding-top: 134px;
  padding-bottom: 154px;
}
.Top-menu a {
  color: #ffffff;
  font-family: outrunfuture;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
.Top-menu a:hover {
  color: #fff;
  background: url(images/Hover_menu.png);
  text-decoration: none;
}
.Top-slider img {
  padding-top: 26px;
}
.Top-slider-big {
  width: 80%;
}
.Top-slider-small {
  width: 55%;
}
.Top-slider__btn {
  color: #000;
  font-family: OutrunFuture;
  background: url(images/Top-button.png);
  padding: 10px 60px;
  font-size: 19px;
  text-decoration: none;
  margin-top: 100px;
  margin-bottom: 286px;
}
.Top-slider__btn:hover {
  color: #fff;
  background: url(images/Top-button-hover.png);
}
/* Finish TOP */
/* Start about */
.about {
  background: url(images/Photo_About_us.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
}
.about h3 {
  color: #95a7ff;
  font-family: outrunfuture;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  padding: 284px 0 35px 14px;
}
.about h1 {
  color: #ffffff;
  font-family: outrunfuture;
  font-size: 60px;
  font-weight: 400;
  line-height: 30px;
}
.about p {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 63px;
}
.about .about-photo {
  padding-top: 152px;
  text-align: center;
  padding-bottom: 400px;
}
.about .about-photo .about-photo1 {
  width: 100%;
}
.about .about-photo .about-photo2 {
  position: absolute;
  bottom: 205px;
  left: 9px;
  width: 80%;
}
/* Finish about */
/* Start slider */
.slider {
  height: 800px;
  background: url(images/slider-fon.png);
  background-position: center center;
  background-size: cover;
  background-color: #000;
  text-align: center;
  width: 100%;
}
.slider h1 {
  color: #ffffff;
  font-family: outrunfuture;
  font-size: 60px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 240px;
}
.slider p {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 63px;
}
.thumbnails {
  margin-top: 203px;
}
.link img:hover {
  border: 3px red solid;
}
.slider-thumbnails {
  width: 286px;
  height: 200px;
}
/* Finish slider */
/* Start footer */
.last {
  background: url(images/footer.jpg) no-repeat;
  text-align: center;
  width: 100%;
}
.last .last-graffiti img {
  padding-top: 300px;
  padding-bottom: 50px;
  width: 45%;
}
.last .last__btn {
  color: #ff4e3e;
  font-family: OutrunFuture;
  background: url(images/Top-button.png);
  padding: 10px 60px;
  font-size: 19px;
  text-decoration: none;
}
.last .last__btn:hover {
  color: #fff;
  background: url(images/button-red-bg-hover.png);
}
.last .last-site p {
  color: #313131;
  font-family: outrunfuture;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 266px;
}
@media (max-width: 992px) {
  .thumbnails {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .slider-thumbnails {
    width: 100px;
    height: 100px;
  }
}
/*# sourceMappingURL=style.css.map */